<!-- ipl_stats/templates/extra_runs_chart.html -->
{% extends 'base.html' %}

{% block content %}
<div id="extraRunsChart"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        
        Highcharts.chart('extraRunsChart', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Extra Runs Conceded per Team in 2016'
            },
            xAxis: {
                categories: chartData.extra_runs_conceded_per_team.map(item => item.bowling_team)
            },
            yAxis: {
                title: {
                    text: 'Runs Conceded'
                }
            },
            series: [{
                name: 'Extra Runs',
                data: chartData.extra_runs_conceded_per_team.map(item => item.extra_runs_conceded)
            }]
        });
    });
</script>
{% endblock %}
